name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install build-essential
    
    - name: Build project
      run: make
    
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: my-build-artifacts
        path: ./build
